<nav class="navbar navbar-expand-sm bg-dark" id="tituloCabecera">
    <h1>Foro de la verdad 
        <div class="parrafoletras">
            <h5>Expresate con la verdad</h5>     
        </div> 
    </h1>                      
</nav> 