<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('plantilla/cabeza') %>
</head>
<body>
    <div class="container-fluid" id="todo">
        <div class="grid-container">
            <div class="cabecera">
                <%- include('plantilla/titulo')%>
                <%- include('plantilla/menu') %>
                    <h1>Pagina Vacia</h1>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, facilis ab? Vitae illum deserunt consequuntur perspiciatis fuga, dicta debitis animi aliquam natus veritatis quia distinctio odit doloribus doloremque suscipit impedit?
                <%- include('plantilla/pie')%>
                
            </div>
        </div>            
     </div>
    
</body>
</html>